<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><h3 style="color: brown; padding:1rem; box-shadow: crimson;"><b>COVIDINDIA</b></h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="comp" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" style="margin-left: 10px;">Home</a>
        <a class="nav-item nav-link" href="#" style="margin-left: 30px;">Demographic</a>
        <a class="nav-item nav-link" href="#" style="margin-left: 30px;">Help Line</a>
        <a class="nav-item nav-link disabled" href="#" style="margin-left: 30px;">Helpfull Links</a>
        <a class="nav-item nav-link disabled" href="#" style="margin-left: 30px;">About</a>
        <a class="nav-item nav-link disabled" href="#" style="margin-left: 30px;">Essentials</a>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #4c9cd4;">
    <a class="navbar-brand" href="#"><h5 style="color:white; padding:.30rem; box-shadow: crimson; text-align: center; margin-left: 500px;"><b>Stay Home Stay Safe</b></h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
  </nav>